/* styling taken from https://www.w3schools.com/html/html_tables.asp */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 12px;
}

th {
  background-color: #F5B7B1;
}

tr:nth-child(odd) {
  background-color: #FDEDEC;
}

th.demo{
  background-color: #A2D9CE;
}

tr.demo:nth-child(odd) {
  background-color: #D0ECE7;
}

th.exercise{
  background-color: #AED6F1;
}

tr.exercise:nth-child(odd) {
  background-color: #D6EAF8;
}
