
/********************************************************** Demos 1 - 6 **********************************************************/
.canvas-container,
.game-canvas {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 640px;
  /* CANVAS SPECIFIC SIZE - SET <CANVAS> TAG IN HTML TO SAME SIZE */
  height: 480px;
  /* CANVAS SPECIFIC SIZE - SET <CANVAS> TAG IN HTML TO SAME SIZE */
  margin-left: -320;
  z-index: 1;
}

.game-canvas {
  display: block;
  border: 1px solid black;
  background-color: #c9cb634b;
}


/********************************************************** Loader specified in the hard-coded HTML **********************************************************/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid var(--loader-color); 
    border-radius: 50%;
    /*https://css-tricks.com/css-attr-function-got-nothin-custom-properties/*/
    width: var(--loader-width);
    height: var(--loader-height);
    animation: spin var(--loader-spin-duration) linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }