#game-canvas-left,
#game-canvas-right,
#canvas-bottomleft,
#canvas-bottomright{
    position: fixed;
    border: 1px solid blue;
}

#game-canvas-left {
    background-color:  rgb(253, 236, 236);
    z-index: 1;
}
#game-canvas-right {
    left: 450;  /*comment this line out to see what happens to the RHS canvas*/
    background-color:rgb(237, 250, 236);
    z-index: 1; /*an integer value which allows us to draw one component on top of another with a lower z-index value */
}

#canvas-bottomleft {
    top: 500;
    background-color:  rgb(236, 236, 250);
    z-index: 1;
}
#canvas-bottomright {
    top: 500;
    left: 450;  /*comment this line out to see what happens to the RHS canvas*/
    background-color:rgb(250, 249, 236);
    z-index: 1; /*an integer value which allows us to draw one component on top of another with a lower z-index value */
}
